<div class="dropdown">
  <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
      <%= link_to 'Add your location!', new_place_path, :class => 'home-links' %>

      <% if !current_user %>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'home-links' %>
      <%= link_to "Sign In", new_user_session_path, :class => 'home-links'  %>
      <% else %>
      <%= link_to "Sign Out", destroy_user_session_path, :class => 'home-links', method: :delete %>
      <% end %>

    </div>
</div>

<div class="place-index-wrapper">
  <h1 class='main-title'>Places</h1>
  <br>

  <% @places.each do |place| %>
  <div class="place-content-wrapper">

  <%= link_to place.city, place_posts_path(place), :class => 'place-links'  %>
  <%= link_to place.state, place_posts_path(place), :class => 'place-links' %>
  <%= link_to place.country, place_posts_path(place), :class => 'place-links' %>
  <%= link_to '(edit)', edit_place_path(place), :class => 'place-links' %></p>

</div>

<object data="<%=place.place_photo_url%>" type="image/png" class="photo">
<img src="https://www.justpro.co/img/no-image.png" class="default-photo"/>
</object>

<br>
<% end %>
</div>
