<div class="dropdown">
  <button class="dropbtn">Menu</button>
<div class="dropdown-content">
<% if !current_user %>
<%= link_to "Sign Up", new_user_registration_path, :class => 'home-links' %>
<%= link_to "Sign In", new_user_session_path, :class => 'home-links'  %>
<% else %>
<%= link_to "Sign Out", destroy_user_session_path, :class => 'home-links', method: :delete %>
<% end %>
</div>
</div>
<h1>title goes here</h1>
<%= link_to 'Add your location!', new_place_path %>

<% @places.each do |place| %>
  <p><%= link_to place.city, place_posts_path(place)  %>, <%= place.state %> <%= link_to '(edit)', edit_place_path(place) %></p>
  <p><%= place.country %></p>
  <img src="<%=place.place_photo_url%>"/>
<% end %>
